@import "../lib/colors.scss";

.box {
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: 0.2rem;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  user-select: none;

  &.secret {
    border: 2px solid $c-border;
    .char {
      display: none;
    }
  }
  &.correct {
    background-color: $c-correct;
  }
  &.present {
    background-color: $c-present;
  }
  &.absent {
    background-color: $c-absent;
  }
  &.blank {
    background-color: $c-blank;
  }
}

.tab {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.input {
  width: 100%;
  margin: 2rem 0;
  background-color: $c-bg;
  color: $c-text;
  font-size: 1.2em;
  font-weight: bold;

  &.notInList {
    background-color: red;
  }
}
